html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.grid-container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
}