html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.grid-container {
    max-width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 0 auto;
}

.grid-item {
    border: .125px solid black;
}